#
#Database config starts
#
#Microbial index of Pathogen bacteria
#Database id, one single symbol
P
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
mip_16s
#Database description
Pathogen reference (16S rRNA)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
N
#
